#main{
    text-align: center;
}

img{
  display:block;
}

#image{
  height:auto;  
  max-width:100%;
  margin: 0 auto;
}

ul { 
	display: inline-block; 
	text-align: left; 
}
    
#tribute-info{
    font-size: 20px;
    margin-top: 20px;
}